body{
    background-color:darkkhaki;
}
h3{
    margin-top: 1cm;
    text-align: center;
    color:black;
    background-color: burlywood;
}
.form{
    width: 400px;
    padding: 10px;
    margin: auto;
    background-color: chocolate;
    color: beige;
    border: 1px solid black;
    margin-top: 1cm;
}